# Copy this file to `.env` and adjust for your environment before running `make dev-up`.

DIB_REALM=HOME.ARPA
DIB_DOMAIN=HOME
DIB_DOMAIN_ADMIN_PASSWORD=ChangeMeNow123!
DIB_SYNC_DOMAIN_ADMIN_PASSWORD_ON_RESTART=false

DIB_INTERFACE=eth0
DIB_DHCP_POOL=192.168.1.100-192.168.1.199
DIB_DNS_FORWARDERS=1.1.1.1; 8.8.8.8;
